[project]
	description = The central hub for any volunteering effort in Singapore, whether you're an organizer looking for volunteers or an individual who just wants to make a good place even better.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/buffe
[access "refs/for/refs/*"]
	read = group user/buffe
	push = group user/buffe
	label-Code-Review = -2..+2 group user/buffe
	label-Verified = -1..+1 group user/buffe
	rebase = group user/buffe
	removeReviewer = group user/buffe
	submit = group user/buffe
[access "refs/heads/*"]
	read = group user/buffe
	create = group user/buffe
	push = +force group user/buffe
	pushMerge = group user/buffe
[access "refs/tags/*"]
	push = +force group user/buffe
	pushTag = group user/buffe
	pushSignedTag = group user/buffe
